@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,700&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Work Sans;
}
.mainContainerSection {
  width: 1280px;
  margin: 0 auto;
}

/* section navbar */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 10px 150px;
  background: #fff;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 65px;
  height: 30px;
  padding: 15px;
}

.logo-title {
  font-weight: 700;
  font-size: 30px;
  color: #0b0223;
}

.logo-style {
  color: rgb(245, 78, 175);
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  padding: 10px;
}
.flowbtn {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0 10px;
}
.youtubeIcon_x {
  color: red;
  font-size: 25px;
  padding: 0 10px;
}
.TiktokIcon_x {
  color: rgb(0, 0, 0);
  font-size: 25px;
  padding: 0 10px;
}

/* main section */
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-title-full {
  margin-top: 50px;
}

.banner-title h1 {
  color: #0b0223;
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 10px;
}

.banner-title h2 {
  text-align: center;
  font-size: 95px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}

.banner-title p {
  padding: 8px;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}

.banner-btn {
  margin-top: 20px;
}

.btn-1 {
  border: none;
  padding: 18px 30px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-2 {
  border: none;
  padding: 18px 30px;
  border-radius: 48px;
  background: #4ec5f7;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.banner-img img {
  height: 600px;
  width: 600px;
}

/* We are gamer */
.container1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 110px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  margin-top: 60px;
}
.wearegamer {
  width: 700px;
}

.container-description {
  text-align: right;
  height: 50%;
}

.container-description h2 {
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 15px;
}

.container-description-p {
  color: #534c64;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}

.btn-second {
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 16px 30px;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.container-description-purpose {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  line-height: 45px;
}

.purpose {
  color: #534c64;
  font-size: 30px;

  font-weight: 700;
  line-height: 35px;
}

/* Online Games Funny Videos */
.OnlineImage {
  width: 200px;
}
.img-tittle {
  text-align: center;
  padding: 100px;
}
.img-tittle h2 {
  color: #0b0223;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  padding: 10px;
}
.Funny {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
}
.img-tittle p {
  color: #534c64;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.vartical-img {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 150px;
}

.item p {
  color: #534c64;
}

/* hover section */
.item {
  position: relative;
  width: 200px;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin-top: -70px;
  margin-left: -20px;
}
.iconEx {
  margin-left: 25px;
  font-size: 40px;
  color: #fff;
}
.item:hover .OnlineImage {
  opacity: 0.3;
}

.item:hover .middle {
  opacity: 1;
}

.text {
  color: #ff42a5;
}

/* Play Instantly */
.section-play {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
  padding: 120px;
}

.section-play-description {
  text-align: right;
}

.section-play-description h2 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.section-play-heading {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-play-description p {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.section-play-img img {
  height: 500px;
}
.over-img {
  margin-left: -130px;
  margin-top: -226px;
  position: absolute;
  width: 260px;
  height: auto;
}

/* Careers */
.Careers-bg {
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  background-size: cover;
  width: auto;
  height: 500px;
}
.Careers-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.careers-img img {
  height: 500px;
  width: auto;
}

/* game-service */
.main-service {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.game-service {
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  gap: 10px;
}
.game-catagory {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 50px;
}
.game-catagory h4 {
  margin-left: 10px;
}
.game-catagory:hover {
  border: 1px solid #f948b2;
  color: #ff42a5;
}
.secendSec {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer section */
.footer {
  background-color: #0b0223;
  margin-top: 80px;
  width: 1400px;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
  padding-top: 30px;
  color: #fff;
}
.footerHeader {
  color: #f948b2;
}

.footerMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 300px;
}
.footerMenu li {
  list-style: none;
  color: #fff;
}
.FooterSocial {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 300px;
}

.FooterSocial li {
  list-style: none;
  color: #fff;
  font-size: 40px;
}

.FooterBotomMenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 300px;
}
.FooterBotomMenu li {
  list-style: none;
  color: #555151;
}

.footerp {
  text-align: center;
  padding: 50px 0;
  color: #555151;
}

/* Responsive Web Design */
@media screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    margin-top: 10px;
  }
  .banner {
    flex-direction: column-reverse;
  }
  .container1 {
    flex-direction: column;
  }
  .container-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vartical-img {
    flex-direction: column;
  }
  .OnlineImage {
    width: 400px;
  }
  .section-play {
    flex-direction: column;
  }
}
